@model CategoryAdminDetailDTO

<form method="post">
    <p class="btn btn-info w-100">Remove this Category?</p>
    <input type="submit" class="btn btn-danger w-100" value="Remove" /> <a href="#" class="text text-danger m-1"><i class="fa-solid fa-trash"></i></a>
    <a href="/Admin/Category" class="btn btn-success w-100 m-2"> <i class="fa-solid fa-hand-point-left"></i>  Return Category?</a>
</form>
